
.defaultbtn{
    background-color: var(--primary-color);
    padding: 7px;
    margin-bottom: 15px;
    color: #fff;
    border: 2px solid transparent;
    border-radius: .25rem;
}
.defaultbtn:hover{
    background-color: #fff;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.editbtn{
    background-color: var(--primary-color);
    color: #fff;
    border: 2px solid transparent;
    border-radius: .25rem;
}
.editbtn:hover{
    background-color: #fff;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.cancel-btn{
    background-color: #fff;
    color: var(--primary-color);
    padding: 7px;
    margin-left: 10px !important;
    border: 2px solid var(--primary-color);
    border-radius: .25rem;
}
.cancel-btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}